@font-face {
	font-family: 'Poppins';
	src: url('font/Poppins-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}

html {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 6px;
	border: 6px solid #ef7f3e;
	overflow:hidden;
	box-sizing: border-box;
	border-radius: 9px;
	transition: border 500ms ease-out;

	font-family: "Poppins", sans-serif;
}
button, select {
	font-family: "Poppins", sans-serif;
}
body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;
}

.colour-match {
	cursor: pointer;
	transition: filter 500ms ease-out;
}
#settings {
	background-image: url("img/settings.png");
	background-size: contain;
	height: 20px;
	width: 20px;

	position: fixed;
	top: 14px;
	right: 14px;
}

table {
	height: 100%;
	width: 100%;

	table-layout: fixed;
}
table, tr, td {
	margin: 0;
	padding: 0;

	text-align: center;
}
/* td {
	width: 33%;
} */
#timer {
	font-size: 84px;
	font-weight: 600;

	color: #ef7f3e;
	transition: color 500ms ease-out;
}

#timer-btn-cont {
	margin: auto;
}
#startpause {
	background-image: url("img/play.png");
}
#reset {
	background-image: url("img/reset.png");
}
.timer-button {
	background-size: contain;
	display: inline-block;
	margin: auto 5px;

	height: 24px;
	width: 24px;
}




/* https://getcssscan.com/css-buttons-examples -- button 6 */